argcomplete==3.4.0
attrs==23.2.1.dev0
awscli==2.22.18
awscrt==0.22.0
btrfsutil==6.12
certifi==2024.8.30
cffi==1.17.1
colorama==0.4.6
crit==4.0
cryptography==43.0.3
distro==1.9.0
docutils==0.21.2
execnet==2.0.2
filelock==3.16.1
iniconfig==2.0.0
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
nftables==0.1
OpenCC==1.1.8
packaging==24.2
pluggy==1.5.0
prompt_toolkit==3.0.48
protobuf==5.28.3
pycparser==2.22
pycriu==4.0
Pygments==2.18.0
PyGObject==3.50.0
pytest==8.3.3
pytest-xdist==3.5.0
python-dateutil==2.9.0
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.19.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
six==1.16.0
tomlkit==0.13.2
urllib3==1.26.20
wcwidth==0.2.13
wheel==0.45.0
xmltodict==0.13.0
